
<h1>Sample App Help</h1>
<p>Find me in app/views/static_pages/help.html.erb</p>
<p>as I am the Sample App Help page</p>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span8">
			<div class="form-horizontal">
				<input type="text">
				<a class="btn btn-small btn-primary" href="#">Button</a>
			</div>
		</div>
		<div class="span4">
		<p>dflkjhskldjhfsdg
			sdgsdgsdgsd asdg sdg sdgsdfg sg 
		 sg sdfgsf gsfg sfgsdfg dfg fdg sdfg 
		 asdfg sfdg sfg sfg sfg 
		 s gsfd gsfg sfg fg 
		 fsdg sdfg sfg asfg sdfg sgsdg sdfgsg 
		 sdf gsdg sdg sdfg sdfh sdfh fdh fdh df
		 h sfdh dfh dfh dfsh fdh fd h
		 dfh gfhg sdfh fh sfh sdfh dfh dfh 
		</p>
		<table class="table table-condensed">
			<thead>
				<th>Nome</th>
				<th>Descrição</th>
			</thead>
			<tbody>
				<tr>
					<td>Coisas</td>
					<td>Diversas variãções aleatórias</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

